* {
  box-sizing: border-box;
  touch-action: manipulation;
}

html {
  font-family: Helvetica;
  background: var(--bg);
  user-select: none;
  cursor: default;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

[contenteditable] {
  user-select: text;
  cursor: text;
}
