:root {
  --bg: hsl(0, 0%, 100%);
  --grid-axis: hsl(0, 0%, 90%);
  --grid-dot: hsl(0, 0%, 50%);

  @media (prefers-color-scheme: dark) {
    --bg: hsl(0, 0%, 13%);
    --grid-axis: hsl(0, 0%, 18%);
    --grid-dot: hsl(0, 0%, 40%);
  }
}
